$gap_tiny:          5px;
$gap_small:         10px;
$gap_medium:        15px;
$gap_large:         20px;
$gap_outer:         16px;

$pie_width:         92px;
$pie_height:        92px;
$pie_padding:       1px;

$upcoming_width:    98px;
$upcoming_height:   98px;
$upcoming_inset:    3px;

$power_up_width:    63px;
$power_up_height:   63px;