//noinspection CssInvalidFunction
@mixin background-ref($name) {
  background-image: url("img/1x/#{$name}.png");
  background-image: -webkit-image-set(url("img/1x/#{$name}.png") 1x, url("img/2x/#{$name}.png") 2x);
  background-image: -moz-image-set(url("img/1x/#{$name}.png") 1x, url("img/2x/#{$name}.png") 2x);
  background-image: -o-image-set(url("img/1x/#{$name}.png") 1x, url("img/2x/#{$name}.png") 2x);
  background-image: -ms-image-set(url("img/1x/#{$name}.png") 1x, url("img/2x/#{$name}.png") 2x);
  background-image: image-set(url("img/1x/#{$name}.png") 1x, url("img/2x/#{$name}.png") 2x);
}
