@import "dimensions";
@import "images";

body {
  margin: 0;
  padding: 0;
  font: 14px "Roboto", "Segoe", "San Francisco", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#main {
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
}

@import "board";

.game-stats {
  margin-top: $gap_outer;
  margin-bottom: $gap_medium;

  #left-stats {
    float: left;
    text-align: left;
  }

  #right-stats {
    float: right;
    text-align: right;
  }
}

.game-stats:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.game-stat-title {
  display: block;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: $gap_small;
}

.game-stat {
  font-size: 1.1em;
}

.game-controls {
  margin-top: $gap_medium;
  margin-bottom: $gap_outer;
  text-align: center;
}

.game-controls button {
  font-weight: bold;
  text-shadow: rgba(255,255,255,0.4) 0 0 8px;
  color: #263238;
  background: #03A9F4 linear-gradient(0deg, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.1));
  border: 2px solid #263238;
  padding: $gap_small $gap_large;
  box-shadow: rgba(255,255,255,0.4) 0 0 8px inset;
  border-radius: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 $gap_small;
  min-width: 100px;
}

.game-controls button:active {
  background-color: #028dcb;
}
